*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(images/pink.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 90px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    background:rgba(255, 0, 242, 0.395)
    border-bottom 1px solid #fff;
}

nav .logo{
    padding: 20px 40px;
    height: 20px;
    float: left;
    font-size: 30px;
    font-weight: bold;
    text-transform: lowercase;
    color: rgb(152, 114, 151);
}

.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 183, 207);
    background-blend-mode: overlay;
    outline: black;
  }
  
  li {
    float: left;
    outline: 0;
    outline-color: black;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: rgb(255, 114, 161);
}

.h1{
    font-family: 'Abril Fatface';
    font-size: xx-large;
    color: rgba(187, 107, 159, 0.946);
}

.section{
    background-color: rgb(255, 188, 210);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 60%;
    margin: -4rem auto 0 auto;
}
  
.section img{
    width: 400px;
    height: 250px;
    object-fit: fill;
}
  
.section h2{
    margin: 0;
    color: palevioletred;
}
  
.section p{
    color: rgb(204, 59, 107);
    padding: 10px;
}
  
h2{
    font-family: 'Bebas Neue';
    font-size: 30px;
    text-align: center;
}
  
p{
    font-family: 'Concert One';
    color: rgb(204, 59, 107);
}
  
footer{
    font-family: 'Quicksand';
    text-align: center;
}

footer{
    font-family: 'Quicksand';
    text-align: center;
}